#CONFIG#
PHY__LP1+CFG.UNLOAD.CLAMP.OPT,AUTO,
PHY__LP2+CFG.UNLOAD.CLAMP.OPT,AUTO,
PHY__LP3+CFG.UNLOAD.CLAMP.OPT,AUTO,
PHY__LP3+CFG.DYNAMIC.USE,YES,
PHY__LP2+CFG.DYNAMIC.USE,YES,
PHY__LP1+CFG.DYNAMIC.USE,YES,
PHY__LP3+CFG.WAFER.SLIDE.SNS.CHECK,TRUE,
PHY__LP2+CFG.WAFER.SLIDE.SNS.CHECK,TRUE,
PHY__LP1+CFG.WAFER.SLIDE.SNS.CHECK,TRUE,
PHY__LP3+CFG.LOAD.DOOR.OPEN,YES,
PHY__LP2+CFG.LOAD.DOOR.OPEN,YES,
PHY__LP1+CFG.LOAD.DOOR.OPEN,YES,
DB_CFG+CFG.dLP3.DOOR_CLOSE_MODE.AFTER_MAPPING,ENABLE,
DB_CFG+CFG.dLP2.DOOR_CLOSE_MODE.AFTER_MAPPING,ENABLE,
DB_CFG+CFG.dLP1.DOOR_CLOSE_MODE.AFTER_MAPPING,ENABLE,
PHY__LP1+CFG.LOAD.COMPLETE.DELAY.TIME,2,
PHY__LP2+CFG.LOAD.COMPLETE.DELAY.TIME,2,
PHY__LP3+CFG.LOAD.COMPLETE.DELAY.TIME,2,
PHY__LP1+CFG.MAPPING.SENSOR.USE,YES,
PHY__LP2+CFG.MAPPING.SENSOR.USE,YES,
PHY__LP3+CFG.MAPPING.SENSOR.USE,YES,
PHY__LP1+CFG.PREPLOAD.CID.MODE,ENABLE,
PHY__LP2+CFG.PREPLOAD.CID.MODE,ENABLE,
PHY__LP3+CFG.PREPLOAD.CID.MODE,ENABLE,
PHY__LP1+CFG.LOAD_ACT.AUTO_MAP.MODE,ENABLE,
PHY__LP2+CFG.LOAD_ACT.AUTO_MAP.MODE,ENABLE,
PHY__LP3+CFG.LOAD_ACT.AUTO_MAP.MODE,ENABLE,
PHY__LP1+CFG.INIT.SLOT.STATE.UNKNOWN,NO,
PHY__LP2+CFG.INIT.SLOT.STATE.UNKNOWN,NO,
PHY__LP3+CFG.INIT.SLOT.STATE.UNKNOWN,NO,
PHY__BUFF1+CFG.SLOT.MAX,25,
PHY__BUFF2+CFG.SLOT.MAX,25,
PHY__LP3+CFG.DOOR.OPEN.COMPLETE.DELAY.TIME,1.0,
PHY__LP2+CFG.DOOR.OPEN.COMPLETE.DELAY.TIME,1.0,
PHY__LP1+CFG.DOOR.OPEN.COMPLETE.DELAY.TIME,1.0,
PHY__LP3+CFG.BEFORE.LOAD.CST.CHECK,TRUE,
PHY__LP2+CFG.BEFORE.LOAD.CST.CHECK,TRUE,
PHY__LP1+CFG.BEFORE.LOAD.CST.CHECK,TRUE,
PHY__LP1+CFG.LOAD.MAP.MODE,ENABLE,
PHY__LP2+CFG.LOAD.MAP.MODE,ENABLE,
PHY__LP3+CFG.LOAD.MAP.MODE,ENABLE,
PHY__LP1+CFG.MACRO_LOAD.USE,YES,
PHY__LP2+CFG.MACRO_LOAD.USE,YES,
PHY__LP3+CFG.MACRO_LOAD.USE,YES,
PHY__LP1+CFG.MACRO_UNLOAD.USE,YES,
PHY__LP2+CFG.MACRO_UNLOAD.USE,YES,
PHY__LP3+CFG.MACRO_UNLOAD.USE,YES,
