

#LINK_READ_WRITE
#INIT_RESET

/*
#LINK_CHANNEL       ##oprPMx+OBJ.MODE             				INF_ACTIVE_HANDOFF+MODE
#LINK_CHANNEL       ##oprPMx+OBJ.STATUS           				OPR_PMC+OBJ.STATUS
#LINK_CHANNEL       ##oprPMx+OBJ.CTRL             				INF_ACTIVE_HANDOFF+CTRL
*/

#LINK_CHANNEL       ##hoff_PMx+##PMx.OBJ.MODE             INF_ACTIVE_HANDOFF+MODE
#LINK_CHANNEL       ##hoff_PMx+##PMx.OBJ.STATUS           OPR_PMC+OBJ.STATUS
#LINK_CHANNEL       ##hoff_PMx+##PMx.OBJ.CTRL             INF_ACTIVE_HANDOFF+CTRL
