#CONFIG#
OPR_CTC_MODE+CFG.SCH.MODE,CONCURRENT,
FNC_VAC_ROBOT+CFG.PICK_DELAY.REMAIN_TIME,0.0,
FNC_VAC_ROBOT+CFG.PICK_DELAY.SECOND_TIME,0.0,
FNC_VAC_ROBOT+CFG.PICK_DELAY.THIRD_TIME,0.0,
FNC_VAC_ROBOT+CFG.PICK_DELAY.FIRST_TIME,0.0,
FNC_VAC_ROBOT+CFG.PICK_DELAY.FLAG,DISABLE,
FNC_VAC_ROBOT+CFG.CONCURRENT.MARGIN_TIME,5,
DB_CFG+SCH.WAC.WAFER.POSITION,LLx,
DB_CFG+SCH.WAC.WAFER.DELAY.SEC,3.0,
DB_CFG+CFG.CYCLE.FOUP.MODE,UNLOAD_RELOAD,
OPR_CTC_MODE+CFG.SCH.REF,ROUTE,
FNC_VAC_ROBOT+CFG.SCH.LLx_COMPMATER.USE,DISABLE,
FNC_VAC_ROBOT+CFG.SCH.LLx_PREPMATER.USE,DISABLE,
FNC_ATM_ROBOT+CFG.SCH.LLx_COMPMATER.USE,DISABLE,
FNC_ATM_ROBOT+CFG.SCH.LLx_PREPMATER.USE,DISABLE,
FNC_ATM_ROBOT+CFG.PHY.LBB.VENT_TIME,5.0,
FNC_ATM_ROBOT+CFG.PHY.LBA.VENT_TIME,5.0,
FNC_ATM_ROBOT+CFG.PHY.LBB.PUMP_TIME,5.0,
FNC_ATM_ROBOT+CFG.PHY.LBA.PUMP_TIME,5.0,
PHY_VAC_ROBOT+CFG.LLx_CTRL.ONLY_INPUT_OUTPUT.MODE,DUAL,
PHY_VAC_ROBOT+CFG.A_ARM.CONSTRAINT.PM,ODD,
PHY_VAC_ROBOT+CFG.B_ARM.CONSTRAINT.PM,EVEN,
PHY_VAC_ROBOT+CFG.DUAL_ARM_MOVING_AT_THE_SAME_TIME,DISABLE,
PHY_VAC_ROBOT+CFG.A_ARM.CONSTRAINT.LL,ODD,
PHY_VAC_ROBOT+CFG.B_ARM.CONSTRAINT.LL,EVEN,
PHY_ATM_ROBOT+CFG.LL.CONSTRAINT.2,EVEN,
PHY_ATM_ROBOT+CFG.DUAL_ARM_MOVING_AT_THE_SAME_TIME,DISABLE,
PHY_ATM_ROBOT+CFG.LL.CONSTRAINT.1,ODD,
PHY_VAC_ROBOT+CFG.PMx_PICK_WAIT_SEC,1,
PHY_VAC_ROBOT+CFG.PICK_WAFER_CONDITION,ONLY.PROCESSED,
PHY_ATM_ROBOT+CFG.PICK_WAFER_CONDITION,ONLY.PROCESSED,
PHY_VAC_ROBOT+CFG.PMx_To_PMx.CONSTRAINT,ALL,
PHY_ATM_ROBOT+CFG.LLx_CTRL.ONLY_INPUT_OUTPUT.MODE,SINGLE,
