!SLOT01,LOTID,WAERID_01,,,
!SLOT02,LOTID,WAERID_02,,,
!SLOT03,LOTID,WAERID_03,,,
!SLOT04,LOTID,WAERID_04,,,
!SLOT05,LOTID,WAERID_05,,,
!SLOT06,LOTID,WAERID_06,,,
!SLOT07,LOTID,WAERID_07,,,
!SLOT08,LOTID,WAERID_08,,,
!SLOT09,LOTID,WAERID_09,,,
!SLOT10,LOTID,WAERID_10,,,
!SLOT11,LOTID,WAERID_11,,,
!SLOT12,LOTID,WAERID_12,,,
!SLOT13,LOTID,WAERID_13,,,
!SLOT14,LOTID,WAERID_14,,,
!SLOT15,LOTID,WAERID_15,,,
!SLOT16,LOTID,WAERID_16,,,
!SLOT17,LOTID,WAERID_17,,,
!SLOT18,LOTID,WAERID_18,,,
!SLOT19,LOTID,WAERID_19,,,
!SLOT20,LOTID,WAERID_20,,,
!SLOT21,LOTID,WAERID_21,,,
!SLOT22,LOTID,WAERID_22,,,
!SLOT23,LOTID,WAERID_23,,,
!SLOT24,LOTID,WAERID_24,,,
!SLOT25,LOTID,WAERID_25,,,
#SLOT11,LOTID,WAERID_11,FA_Test,,X,,
#SLOT12,LOTID,WAERID_12,FA_Test,,X,,
#SLOT13,LOTID,WAERID_13,FA_Test,,X,,
