/*  SCREEN INFOMATION  */


#SCREEN_DIR  SCR__PMC_METAL-PSK\


// -----------------------------------------------------------------------
#DEFINE  DEF__FRAME_CLIENT
	POPUP              NO
	LOW_LEFT_X         0  
	LOW_LEFT_Y         55
	WIDTH              1280 
	HEIGHT             770 
#END

#DEFINE  DEF__FRAME_CLIENT_NULL
	POPUP              NO
	LOW_LEFT_X         0  
	LOW_LEFT_Y         55
	WIDTH              0 
	HEIGHT             0 
#END

#DEFINE  DEF__FRAME_CLIENT_HALF
	POPUP              NO
	LOW_LEFT_X         0  
	LOW_LEFT_Y         55
	WIDTH              1280
	HEIGHT             475
#END


#DEFINE  DEF__FRAME_BOTTOM_SUB
	POPUP              NO
	LOW_LEFT_X         173 
	LOW_LEFT_Y         825
	WIDTH              1107 
	HEIGHT             41
#END

#DEFINE  DEF__FRAME_BOTTOM_MAIN
	POPUP              NO
	LOW_LEFT_X         173 
	LOW_LEFT_Y         866
	WIDTH              1107 
	HEIGHT             58
#END



// -----------------------------------------------------------------------
// Side
WINDOW_NAME PMC_BTM_MAIN_BAR
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_MAIN
		
	CTRL_CHANNEL                    SCR.BTM_MAIN
	USER_LEVEL                      Operate
}


// Bottom
WINDOW_NAME PMC_BTM_OPERATE     
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB
	
	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate
	PAGE_TYPE			                  POLLING
}

WINDOW_NAME PMC_BTM_CONFIG
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB

	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate
}

WINDOW_NAME PMC_BTM_MAINT 
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB

	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate  
}

WINDOW_NAME PMC_BTM_RECIPE      
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB
	
	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate  
}

WINDOW_NAME PMC_BTM_DATALOG    
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB
	
	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate  
}

WINDOW_NAME PMC_BTM_PART
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB
	
	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate  
}

WINDOW_NAME PMC_BTM_UTILITY   
{
	#CALL_DEFINE                    DEF__FRAME_BOTTOM_SUB
	
	CTRL_CHANNEL                    SCR.BOTTOM
	USER_LEVEL                      Operate  
}


// Client
// Bottom => Operate


// Bottom => Config

WINDOW_NAME PMC_CONFIG_MODULE-PRESSURE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint 
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.MODULE_PRESSURE.SAVE
}

WINDOW_NAME PMC_CONFIG_MODULE-PUMP
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint 
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.MODULE_PUMP.SAVE
}

WINDOW_NAME PMC_CONFIG_GAS_MFC
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.GAS_MFC.SAVE
}

WINDOW_NAME PMC_CONFIG_GAS_PT
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.GAS_PT.SAVE
}

WINDOW_NAME PMC_CONFIG_GAS_OTHER
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.GAS_OTHER.SAVE
}

WINDOW_NAME PMC_CONFIG_GAS_INTERLOCK
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	  
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.GAS_INTERLOCK.SAVE
}

WINDOW_NAME PMC_CONFIG_APC
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		        	    DB_GUI+GUI.CONFIG.PRESSURE.SAVE
}

WINDOW_NAME PMC_CONFIG_RF_SOURCE_BIAS
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint  
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		        	    DB_GUI+GUI.CONFIG.RF.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_CHUCK-STABLE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_CHUCK_STABLE.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_CHUCK-INIT
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_CHUCK_INIT.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_WALL-STABLE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_WALL_STABLE.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_WALL-INIT
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_WALL_INIT.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_OTHER-STABLE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_OTHER_STABLE.SAVE
}

WINDOW_NAME PMC_CONFIG_HEATER_OTHER-INIT
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.HEATER_OTHER_INIT.SAVE
}

WINDOW_NAME PMC_CONFIG_ESC_HELIUM
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.ESC_HELIUM.SAVE
}

WINDOW_NAME PMC_CONFIG_CHUCK_STEP
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.CHUCK_STEP.SAVE
}

WINDOW_NAME PMC_CONFIG_DECHUCK_STEP
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
	
	PAGE_TYPE			                  CONFIG 
	STATUS_CHANNEL		              DB_GUI+GUI.CONFIG.DECHUCK_STEP.SAVE
}


// Bottom => Maint

WINDOW_NAME PMC_MAINT_CHAMBER
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint  
}

WINDOW_NAME PMC_MAINT_GAS_LINE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT_IO_SENSOR
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT_IO_INTERLOCK
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT_PART_INFO
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT_ANALOG_CAL
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT-SYSTEM_INIT_CFG
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_MAINT_AUTO_PM
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}


// Bottom => Recipe

WINDOW_NAME PMC_RECIPE_PROCESS-STD
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Process
}

WINDOW_NAME PMC_RECIPE_CFG
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Process
}


// Bottom => Datalog

WINDOW_NAME PMC_LOG_VIEW 
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}
WINDOW_NAME PMC_LOG_LIST 
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}


WINDOW_NAME STANDARD_UTILITY_IO_GRAPH
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Operate
	
	PAGE_TYPE			                  POLLING
}

WINDOW_NAME  LOG--LEAK_CHECK
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Operate
}


// Bottom => Part

WINDOW_NAME PMC_PART-LIFT_PIN_TEACHING
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-HEATER
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-RF_SOURCE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-RF_BIAS
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-RF_MATCHER
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-MFC
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-DIO_1
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-AIO_1
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME PMC_PART-DIO_2
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}


// Bottom => Utility

WINDOW_NAME  UTILITY__MFC_FLOW
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME  UTILITY__VAT_CONDUCTANCE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME  UTILITY__RF_CONDUCTANCE
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}

WINDOW_NAME  UTILITY__GAUGE_CHECK
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}


// Bottom => Utility Cfg

WINDOW_NAME  UTILITY_CFG1
{
	#CALL_DEFINE                    DEF__FRAME_CLIENT

	CTRL_CHANNEL                    SCR.CLIENT 
	USER_LEVEL                      Maint
}


// Popup Page ------------------------------------------------------------------------------

WINDOW_NAME APP_POPUP_MNT_PMC_SAMPLE
{
	POPUP                           YES
	LOW_LEFT_X                      20  
	LOW_LEFT_Y                      20 
	WIDTH                           780
	HEIGHT                          600 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.POPUP
	USER_LEVEL                      Maint
}
WINDOW_NAME APP_POPUP_MANUAL_PROCESS
{
	POPUP                           YES
	LOW_LEFT_X                      200  
	LOW_LEFT_Y                      20 
	WIDTH                           367
	HEIGHT                          500
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.POPUP
	USER_LEVEL                      Maint
}

// Part Popup ...

WINDOW_NAME APP_POPUP_PMC_RF-SOURCE
{
	POPUP                           YES
	LOW_LEFT_X                      125  
	LOW_LEFT_Y                      25 
	WIDTH                           475
	HEIGHT                          540 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.RF.POPUP
	USER_LEVEL                      Maint
}
WINDOW_NAME APP_POPUP_PMC_RF-BIAS
{
	POPUP                           YES
	LOW_LEFT_X                      125  
	LOW_LEFT_Y                      25 
	WIDTH                           475
	HEIGHT                          540 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.RF.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_MATCHER
{
	POPUP                           YES
	LOW_LEFT_X                      125  
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MATCH.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_APC
{
	POPUP                           YES
	LOW_LEFT_X                      25  
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.APC.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME  JGLEE_POPUP__JUMP_STEP
{
	POPUP                           TOP_MOST
	LOW_LEFT_X                      600  
	LOW_LEFT_Y                      25 
	WIDTH                           367
	HEIGHT                          500
	
	SEQ_CTRL_CHANNEL                FNC_PROC+WIN_CTRL.JUMP_PAGE
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_PMC_MNT_TEMPCTRL 
{
	POPUP                           YES
	LOW_LEFT_X                      25  
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_HTR_CHUCK
{
	POPUP                           YES
	LOW_LEFT_X                      125  
	LOW_LEFT_Y                      25 
	WIDTH                           780
	HEIGHT                          605 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_HTR_WALL
{
	POPUP                           YES
	LOW_LEFT_X                      250  
	LOW_LEFT_Y                      25 
	WIDTH                           780
	HEIGHT                          605 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_HTR_VAC
{
	POPUP                           YES
	LOW_LEFT_X                      300
	LOW_LEFT_Y                      25 
	WIDTH                           780
	HEIGHT                          605 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_HTR_EXH
{
	POPUP                           YES
	LOW_LEFT_X                      400  
	LOW_LEFT_Y                      25 
	WIDTH                           780
	HEIGHT                          605 
	 
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_EPD
{
	POPUP                           YES
	LOW_LEFT_X                      225  
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.ESC.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_ESC 
{
	POPUP                           YES
	LOW_LEFT_X                      125  
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.ESC.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_ESC_RS232
{
	POPUP                           YES
	LOW_LEFT_X                      150
	LOW_LEFT_Y                      25 
	WIDTH                           530
	HEIGHT                          542 
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.ESC.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_PM_SLOT
{
	POPUP                           YES
	LOW_LEFT_X                      120  
	LOW_LEFT_Y                      20 
	WIDTH                           367
	HEIGHT                          495
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_PIN_CTRL
{
	POPUP                           YES
	LOW_LEFT_X                      120  
	LOW_LEFT_Y                      20 
	WIDTH                           367
	HEIGHT                          495
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.MNT.PUMP.POPUP1
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_CHUCK_STEP
{
	POPUP                           YES
	LOW_LEFT_X                      10
	LOW_LEFT_Y                      -50
	WIDTH                           1262
	HEIGHT                          611
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.POPUP
	USER_LEVEL                      Maint
}

WINDOW_NAME APP_POPUP_PUMP_DRY 
{
	POPUP                           YES
	LOW_LEFT_X                      100  
	LOW_LEFT_Y                      150 
	WIDTH                           470 
	HEIGHT                          445
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.POPUP
	USER_LEVEL                      Maint  
}

WINDOW_NAME APP_POPUP_PUMP_TURBO 
{
	POPUP                           YES
	LOW_LEFT_X                      200
	LOW_LEFT_Y                      150 
	WIDTH                           470 
	HEIGHT                          445
	
	SEQ_CTRL_CHANNEL                DB_GUI+GUI.PMC.POPUP
	USER_LEVEL                      Maint  
}
